<!-- templates/home.html-->
{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<title>Homepage</title>
<div class="body">
  <h2>Hi {{user.username}}, Welcome to your schedule!</h2>
  <b> I can't think of anything to put on this home page, so enjoy some dogs!</b>
  <!-- It took wanting to add dogs into my website to learn staticfiles lol -->
</div>
<div class="dogs">
  <div class="picture-container">
      <div class="picture">
          <img src="{% static 'images/marshall1.png' %}">
      </div>

      <div class="picture">
        <img src="{% static 'images/Corgi.jpg' %}">
      </div>

      <div class="picture">
        <img src="{% static 'images/golden.jpeg' %}">
      </div>

      <div class="picture">
        <img src="{% static 'images/close.png' %}">
      </div>

      <div class="picture">
        <img src="{% static 'images/scratch.jpg' %}">
      </div>

      <div class="picture">
        <img src="{% static 'images/marshall2.png' %}">
      </div>
  </div>
</div>
{% else %}
<div class="body">
  <p>You are not logged in</p>
</div>
{% endif %}
{% endblock %}