{% extends "base.html" %}

{% block title %}Shift Marketplace{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% else %}
<div class="body">
    <meta http-equiv="refresh" content="3; URL={% url 'home' %}" />
</div>
{% endif %}
<body>

    <table cellpadding="0" cellspacing="10" class="month">
        
      <tbody>
            Here is the list of available shifts:
      </tbody>

      <thead>
        {% for x in items %}
            <tr>
                <th class="shiftinfo">{{ x.dateStarting }}: {{ x.startTime }} - {{ x.endTime }} ({{ x.jobCode }})</th>
                <th class="claimshift">
                    <form method="post" class="button-shifts" action="{% url 'claimshift' %}">
                        {% csrf_token %}
                        <input type="hidden" name="shift" value="{{ x.shiftID }}"/>
                        <button type="submit">Claim</button>
                    </form>
                </th>
            </tr>
        {% endfor %}
      </thead>
    </table>
  
  </body>

{% endblock %}