<!-- templates/scheduleuser.html-->
{% extends "base.html" %}

{% block content %}

{% if user.is_staff %}
{% else %}
<div class="body">
    <meta http-equiv="refresh" content="3; URL={% url 'home' %}" />
</div>
{% endif %}
{{ cal|safe }}
  <tr>
    <td class="mon">
      <form method="post" class="button-container" action="{% url 'scheduleEdit' %}">
        {% csrf_token %}
        <input type="hidden" name="dayval" value="0"/>
        Start time:
        <input type="time" name="start" /><br>
        End time:
        <input type="time" name="end" /><br>
        Job title:
        <input type="text" name="job" maxlength="20"><br>
        <button type="submit">Submit</button>
      </form>
    </td>
    <td class="tue">
      <form method="post" class="button-container" action="{% url 'scheduleEdit' %}">
        {% csrf_token %}
        <input type="hidden" name="dayval" value="1"/>
        Start time:
        <input type="time" name="start" /><br>
        End time:
        <input type="time" name="end" /><br>
        Job title:
        <input type="text" name="job" maxlength="20"><br>
        <button type="submit">Submit</button>
      </form>
    </td>
    <td class="wed">
        <form method="post" class="button-container" action="{% url 'scheduleEdit' %}">
          {% csrf_token %}
          <input type="hidden" name="dayval" value="2"/>
          Start time:
          <input type="time" name="start" /><br>
          End time:
          <input type="time" name="end" /><br>
          Job title:
          <input type="text" name="job" maxlength="20"><br>
          <button type="submit">Submit</button>
        </form>
      </td>
      <td class="thu">
        <form method="post" class="button-container" action="{% url 'scheduleEdit' %}">
          {% csrf_token %}
          <input type="hidden" name="dayval" value="3"/>
          Start time:
          <input type="time" name="start" /><br>
          End time:
          <input type="time" name="end" /><br>
          Job title:
          <input type="text" name="job" maxlength="20"><br>
          <button type="submit">Submit</button>
        </form>
      </td>
      <td class="fri">
        <form method="post" class="button-container" action="{% url 'scheduleEdit' %}">
          {% csrf_token %}
          <input type="hidden" name="dayval" value="4"/>
          Start time:
          <input type="time" name="start" /><br>
          End time:
          <input type="time" name="end" /><br>
          Job title:
          <input type="text" name="job" maxlength="20"><br>
          <button type="submit">Submit</button>
        </form>
      </td>
      <td class="sat">
        <form method="post" class="button-container" action="{% url 'scheduleEdit' %}">
          {% csrf_token %}
          <input type="hidden" name="dayval" value="5"/>
          Start time:
          <input type="time" name="start" /><br>
          End time:
          <input type="time" name="end" /><br>
          Job title:
          <input type="text" name="job" maxlength="20"><br>
          <button type="submit">Submit</button>
        </form>
      </td>
      <td class="sun">
        <form method="post" class="button-container" action="{% url 'scheduleEdit' %}">
          {% csrf_token %}
          <input type="hidden" name="dayval" value="6"/>
          Start time:
          <input type="time" name="start" /><br>
          End time:
          <input type="time" name="end" /><br>
          Job title:
          <input type="text" name="job" maxlength="20"><br>
          <button type="submit">Submit</button>
        </form>
      </td>
  </tr>
</table>
<br>
*if all fields are left blank, will count as call off and go to shift marketplace
{% endblock %}
